body {
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100vh; /* adjust the height as needed */
}
#map-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
#map-controls button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
#map-controls button:hover {
    background-color: #444;
}
.leaflet-control-fullscreen {
    background-image: url('https://unpkg.com/leaflet-fullscreen@1.0.2/dist/fullscreen.png');
    background-size: 26px 26px;
    width: 26px;
    height: 26px;
    border: none;
    padding: 0;
}
.leaflet-control-fullscreen:hover {
    background-color: #444;
}

#intro-video {
    position: fixed; /* make it fixed on top of everything */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1001; /* make sure it's on top of everything */
    display: block; /* show it initially */
}
