body {
  margin: 0;
  padding: 0;
  background: #334f3b;
}

.container {
  width: 800px;
  margin: 40px auto;
  text-align: center;
}

#map {
  height: 500px;
  width: 800px;
  border: 1px solid black;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="number"] {
  width: 100px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
}

button[type="button"] {
  width: 100px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #334f3b;
}
#reload-gif {
  display: none; /* hide the GIF by default */
}

.reload-gif-show {
  display: block; /* show the GIF when the page is reloaded */
}
