body {
  margin: 0;
  padding: 0;
  background: #10112b;
  color: #fff; 
}
.container {
  width: 800px;
  margin: 40px auto;
  text-align: center;
}
#map {
  height: 500px;
  width: 800px;
  border: 1px solid black;
}


label {
  display: block;
  margin-bottom: 10px;
}
input[type="number"] {
  width: 100px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
}
button[type="button"] {
  width: 100px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="button"]:hover {
  background-color: #334f3b;
}
#intro-video {
  position: dynamic;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Ensure the video is on top of other elements */
}
.calculator-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  background-color: #10112b;
  padding: 20px;
  border: 1px solid #ddd;
}
.calculator-container h2 {
  margin-top: 0;
}
.calculator-container label {
  display: block;
  margin-bottom: 10px;
}
.calculator-container input[type="number"] {
  width: 100px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
}
.calculator-container button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.calculator-container button:hover {
  background-color: #334f3b;
}
.calculator-container #result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}
